<%= form_for(@tadpole) do |f| %>
  <% if @tadpole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tadpole.errors.count, "error") %> prohibited this tadpole from being saved:</h2>

      <ul>
      <% @tadpole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
    <%= f.hidden_field :color, :value => @frog.color %>
    <%= f.hidden_field :frog_id, :value => @frog.id %>

  <div class="actions">

    <%= f.submit %>
  </div>
<% end %>
