<%= form_for(@frog) do |f| %>
  <% if @frog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frog.errors.count, "error") %> prohibited this frog from being saved:</h2>

      <ul>
      <% @frog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name " %>
    <%= f.text_field :name %>

    <%= f.label :color, "Color " %>
    <%= f.text_field :color %>

    <%= f.label :lives, "Lives " %>
    <%= f.collection_select(:pond_id, Pond.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
